@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="my-5 bg-dark" src="~/Images/logo-bg.png" />
    <h3>People Management. <strong>Simple as that</strong>.</h3>
    <h1 class="display-3 mt-5">Workwise</h1>
    <p><strong>Create</strong>, <strong>Read</strong>, <strong>Edit</strong> and <strong>Remove</strong> talents from your business with Workwise.</p>

</div>
    
    <h2 class="display-5 mt-5">Why Workwise? </h2>
    <p class="mt-4">Workwise has the <strong>better</strong> lorem ipsum dolor sit and a <strong>huge</strong> amet consectetur, adipisicing elit. Dolorem corporis ut temporibus amet voluptatum id obcaecati impedit, hic doloribus provident in cupiditate eveniet consectetur a magnam doloremque earum dolore distinctio.</p>
 
    <h2 class="display-5 mt-5">Our services include: </h2>
    <p class="mt-4">Workwise provides <strong>inimaginable</strong> lorem ipsum dolor sit and a <strong>loyal</strong> amet consectetur, adipisicing elit. Dolorem corporis ut temporibus amet voluptatum id obcaecati impedit, hic doloribus provident in cupiditate eveniet consectetur a magnam doloremque earum dolore distinctio.</p>
 
     <h2 class="display-5 mt-5">Featured client stories:</h2>
    <p class="mt-4">I was just 19 years when I found <strong>Workwise</strong>. Since then, my life has <strong>completely</strong> lorem. Amet consectetur, adipisicing elit. Dolorem corporis ut temporibus amet voluptatum id obcaecati impedit, hic doloribus provident in cupiditate eveniet consectetur a magnam doloremque earum dolore distinctio.</p>
    
    <p class="my-5">What are you waiting for? Click on the button and see what Workwise is able to do.</p>
<div class="text-center">
    <a class="btn btn-primary btn-lg text-dark btn-block" href="/Employee" style="background-color: #08cfc3; border-color: #08cfc3;"><strong>Start now</strong></a>
</div>

<style>
    .btn-primary:hover{
        background-color: #02a79c !important;
    }
</style>